<nav class="w-100 bg-primary navbar-dark">
    <ul class="navbar-ul left-block">
        <li class="nav-item">
            <a [routerLink]="['/']">
                Postbeen Application
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/about']" class="nav-link">About</a>
        </li>
    </ul>
    <!-- <div class="right-block">
        Right
    </div> -->
</nav>