nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.left-block {
  display: flex;
  margin: 5px;
  align-items: center;
  padding: 0;
}

li a {
  cursor: pointer;
  color: #fff;
}

li a:hover {
  color: #fff;
}
