<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Language</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paste">
            <th scope="row"> {{item.id}} </th>
            <td> {{item.title}} </td>
            <td> {{item.language}} </td>
        </tr>
    </tbody>
</table>