<br>
<input class="form-control" type="text" [(ngModel)]="comment">
<br>
<button class="btn btn-primary add-comment" (click)="addComments()">
    Add Item
</button>
<br>
<ul class="list-group">
    <li *ngFor="let comment of comments" class="list-item comments-li">
        <p class="comments-body">
            {{comment.body}}
        </p>
        <button class="btn btn-danger delete-comment" (click)="deleteComment(comment);">
            Klirs mlirs
        </button>
    </li>
</ul>