@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css"; 

ul {
  list-style: none;
}

a:hover {
    color: auto !important;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
