<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Language</th>
            <th scope="col">Code</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="showLanguages; else showError;">
            <tr class="languages-tr" *ngFor="let item of languages">
                <th scope="row"> {{item.id}} </th>
                <td [class]="'item item-' + item.id"> {{item.title}} </td>
                <td [class]="'item item-' + item.id"> {{item.language}} </td>
                <td [class]="'view-paste view-paste-' + item.id" (click)="viewPasteModal(item.id, item.language)">View Paste</td>
            </tr>
        </ng-container>
        <ng-template #showError>
            {{languages}}
        </ng-template>
    </tbody>
</table>
<h1 class="show-class" *ngIf="showMe">
    Show Me!
</h1>
<button class="btn btn-primary show-btn" (click)="showMe = !showMe"> Create Pase </button>